/* Small local SlickNav-style menu.
   Learning material covers SlickNav/mobile menu behaviour.
   Also, I have chosen different variations of green as the theme colours, because it fits nicely with the images of fruit/veggies */
.slicknav_btn {
    display: block;
    width: 100%;
    padding: .85em 1em;
    border: 0;
    background-color: #296232;
    color: white;
    text-align: left;
    font-weight: bold;
    
}

.slicknav_menu {
    background-color: #265c2f;
}

.slicknav_nav {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

.slicknav_nav.open {
    display: block;
}

.slicknav_nav ul {
    margin: 0;
    padding-left: 1em;
    list-style: none;
    background-color: #337137;
}

.slicknav_nav a {
    display: block;
    padding: .75em 1em;
    color: white;
    text-decoration: none;
    border-top: 1px solid rgba(255, 255, 255, .22);
}

.slicknav_nav a:visited {
    color: white;
}

.slicknav_nav a:hover,
.slicknav_nav a:focus {
    background-color: #20796d;
    color: white;
}
